{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-12">
  <h3 class="text-center">About Page</h3>
    <p class="lead text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem placeat unde illum d
       quae cupiditate veritatis aliquid ut ex nulla distinctio voluptatum libero asperiores est veniam sit. A delectus qu
       asi enim nisi magnam minus neque voluptatem. Quia dolorum voluptate animi, ullam, itaque modi iusto nihil harum vol
       uptates ipsum id fugit ad voluptatum! Voluptas accusantium debitis veritatis distinctio earum quis aspernatur, cons
       equuntur possimus totam alias tempore itaque nesciunt ipsum facere vero similique et ex, neque, iste officiis ducim
       us nisi maxime. Hic accusamus, corrupti, similique molestias sit nobis quam deserunt ducimus delectus, dolor necess
       itatibus eveniet id aliquam expedita dolorum odio sequi perspiciatis inventore cupiditate maiores consequatur reici
       endis praesentium in corporis! Officia, hic. Placeat quaerat tempore nesciunt ipsam delectus doloribus at rem quibu
       sdam? Quidem vero animi perferendis quibusdam commodi numquam laudantium ipsa? Voluptatum voluptatibus corrupti qui
       s, saepe velit dicta similique ut labore modi omnis soluta exercitationem, esse sed. Sequi quo perspiciatis hic ass
       umenda odio velit quibusdam, impedit veniam beatae ad pariatur quidem magnam quae soluta temporibus, suscipit offic
       ia in aspernatur? Ipsa voluptate nihil animi ab, quos possimus facilis iusto, quibusdam itaque, laboriosam necessit
       atibus exercitationem rem iure. Fuga error dolor temporibus itaque alias. Quibusdam numquam, rerum nam ratione quas
        dolorum cum libero esse.
    </p>
</div>

{% endblock content %}

