{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>My Blog Website</title>
</head>

<body>
    <div class="front-page" id="home">
        <!-- header -->
        <div class="header-left">
            <div id="logo">
                <h1>
                    <a href="#">BlogAble.com</a>
                </h1>
            </div>
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Blogging Website</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">asdfasd</span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Travel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Lifestyle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inspire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fashion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Beauty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <!-- //navbar -->
        </div>
        <!-- //header -->
        <br>
        <!-- banner -->
        <div class="bg-img">
            <div class="container-fluid">
                <div class="slider-info">
                    <h3>We Blog Anything and Everything.!!!</h3>
                    <div class="bg-btn mt-md-4 mt-3">
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
    <!-- //front-page -->
    <section class="feature py-lg-4 py-md-3 py-sm-3 py-3 " id="feature ">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3 ">
            <h3 class="title text-center mb-2 ">What We Offer</h3>
            <div class="sub-title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 ">
                <p>Our online store, StitchMeUp, offers a wide variety of t-shirts in different sizes and colors. If you're searching for a t-shirt that will express yourself, you'll find it here.
                </p>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-6 my-3 ">
                    <div class="feature-grid-wthree ">
                        <div class="row ">
                            <div class="col-lg-3 col-md-3 col-sm-2 feature-jst-icon ">
                                <div class="feature-icon text-center ">
                                    <span class="fa fa-thumbs-o-up " aria-hidden="true "></span>
                                </div>
                            </div>
                            <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-10 ">

                                <h4>Be stylish
                                </h4>
                                <p class="mt-2 ">The style for which you crave. The home for the stylish you.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-3 ">
                    <div class="feature-grid-wthree ">
                        <div class="row ">
                            <div class="col-lg-3 col-md-3 col-sm-2 feature-jst-icon ">
                                <div class="feature-icon text-center ">
                                    <span class="fa fa-shield " aria-hidden="true "></span>
                                </div>
                            </div>
                            <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-10 ">

                                <h4>Be colourful
                                </h4>
                                <p class="mt-2 ">Colourful range of t-shirts is available. Be colourful with us.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-3 ">
                    <div class="feature-grid-wthree">
                        <div class="row ">
                            <div class="col-lg-3 col-md-3 col-sm-2 feature-jst-icon ">
                                <div class="feature-icon text-center ">
                                    <span class="fa fa-child " aria-hidden="true "></span>
                                </div>
                            </div>
                            <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-10 ">

                                <h4>Feel trendy
                                </h4>
                                <p class="mt-2 ">T-shirts that go with trends. Merging trend with elegance.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-3 ">
                    <div class="feature-grid-wthree ">
                        <div class="row ">
                            <div class="col-lg-3 col-md-3 col-sm-2 feature-jst-icon ">
                                <div class="feature-icon text-center ">
                                    <span class="fa fa-users " aria-hidden="true "></span>
                                </div>
                            </div>
                            <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-10 ">

                                <h4>Feel authentic
                                </h4>
                                <p class="mt-2 ">Authentic & Different. Better when it’s on you.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-3 ">
                    <div class="feature-grid-wthree ">
                        <div class="row ">
                            <div class="col-lg-3 col-md-3 col-sm-2 feature-jst-icon ">
                                <div class="feature-icon text-center ">
                                    <span class="fa fa-repeat " aria-hidden="true "></span>
                                </div>
                            </div>
                            <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-10 ">

                                <h4>
                                    Look you need</h4>
                                <p class="mt-2 ">Look good, Feel Good. Look perfect from every angle </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-3 ">
                    <div class="feature-grid-wthree ">
                        <div class="row ">
                            <div class="col-lg-3 col-md-3 col-sm-2 feature-jst-icon ">
                                <div class="feature-icon text-center ">
                                    <span class="fa fa-cutlery " aria-hidden="true "></span>
                                </div>
                            </div>
                            <div class="ser-sevice-grid col-lg-9 col-md-9 col-sm-10 ">

                                <h4>Walk-in fashion</h4>
                                <p class="mt-2 ">Fashion is freedom. Fashion as unique as you are.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//feature -->

    <!-- gallery  -->
    <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3 " id="gallery ">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3 ">
            <h3 class="title text-center mb-2 ">TRENDING IN STORE </h3>
            <div class="sub-title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 ">
                <p>T-shirts that will reflect your style. The hand-picked style you in mind. The home for the stylish you.
                </p>
            </div>
            <div class="row shop-detail no-gutters ">
                <div class="col-lg-4 col-md-6 col-sm-6 shop-product ">
                    <div class="shop-img">
                        <a href="#gal1 ">
                            <img src="images/t1.jpg " alt="news image " class="img-fluid ">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 shop-product ">
                    <div class="shop-img">
                        <a href="#gal2 ">
                            <img src="images/t2.jpg " alt="news image " class="img-fluid ">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 shop-product ">
                    <div class="shop-img">
                        <a href="#gal3 ">
                            <img src="images/t3.jpg " alt="news image " class="img-fluid ">
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 shop-product ">
                    <div class="shop-img">
                        <a href="#gal4 ">
                            <img src="images/t4.jpg " alt="news image " class="img-fluid ">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 shop-product ">
                    <div class="shop-img">
                        <a href="#gal5 ">
                            <img src="images/t5.jpg " alt="news image " class="img-fluid ">
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 shop-product ">
                    <div class="shop-img">
                        <a href="#gal6 ">
                            <img src="images/t6.jpg " alt="news image " class="img-fluid ">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--//gallery  -->
    <!-- copyright -->
    <footer>
        <div class="bottom-footer text-center py-md-4 py-3 ">
            <p>
                © 2021 StitchMeUp. All Rights Reserved
            </p>
        </div>
    </footer>

    <div class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'images/img1.jpg' %}" alt="First slide">
                </div>
                <div class="carousel-item ">
                    <img class="d-block w-100" src="{% static 'images/img2.jpg' %}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img3.jpg' %}" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img4.jpg' %}" alt="Fifth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img5.jpg' %}" alt="Sixth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img6.jpg' %}" alt="Seventh slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img7.jpg' %}" alt="Eighth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img8.jpg' %}" alt="Ninth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img9.jpg' %}" alt="Tenth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img10.jpg' %}" alt="Eleventh slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/img11.jpg' %}" alt="Eleventh slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% block content %}

    {% endblock %}

    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

</body>

</html>