<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'posts/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}" type="text/css">
    
    <title>My Blog Website</title>
</head>

<body>
    <div class="container-fluid">
        {% include 'posts/navbar.html' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block msg %}
                {% endblock msg %}
            </div>
        </div>
        <div class="row">
            {% block side %}
            {% endblock side %}

            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <div class="container-fluid">
        {% include 'posts/footer.html' %}
    </div>
    <script src="{% static 'posts/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'posts/js/popper.min.js' %}"></script>
    <script src="{% static 'posts/js/bootstrap.min.js' %}"></script>

</body>

</html>